body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
.footer__logo {
    width: 35px;
    height: 35px;
}
.footer__github a {
    color: #fff;
    text-decoration: none;
}
@media (max-width: 500px) {
    footer {
        gap: 10px;
        font-size: 10px;
    }
    .footer__logo {
        width: 25px;
        height: 25px;
    }
}
